.mainNav {
  display: flex;
  justify-content: center;
  background-color: black;
  margin-bottom: 6px;
  border-radius: 8px;
  flex-wrap: nowrap;
}
.mainNav ul {
  justify-content: space-evenly;
}

.mainNav li {
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding-right: 50px;
}
.mainNav a {
  text-decoration: none;
}